video{
    object-fit: cover;
    width: 100%;
    height: 100%;

    top:0;
    position: fixed;
    z-index: -1;
}
.bg img{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
h1{
    color: #fff;
    font-size: 0.2rem;
}


span::before {
    content: "------";
    animation: animate infinite 12s;
    padding-left: 10px;
}

@keyframes animate {

    0% {
        content: "------";
    }
    25% {
        content: "ebrtbt";
    }


    50% {
        content: "for";
    }

    75% {
        content: "wedwedwed";
    }
}

.hero-container {
     /* background: url('./images/img-home.jpg') center center/cover 
    no-repeat;  */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 200%;
    justify-content: center;
    align-items: center;
    object-fit:contain;
}

.hero-container > h1 {
    color: white;
    font-size: 4rem;
}



.hero-container > p {
margin-top: 8px;
color: white;
font-size: 32px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn{
    margin:6px;
}

fa-play-circle {
    margin-left: 4px;

}


@media screen and (max-width: 960px) {

    .hero-container >h1 {
        font-size: 70px;
        margin-top: -150px;
    }


}

@media screen and (max-width: 768px) {

    .hero-container >h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 30px;
    
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
    
}